div.controller-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 0 0 0;
  box-sizing: border-box;
}

div.controller-layout .navbar {
  background-color: #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

div.controller-layout .artboard-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 120px 0 0 0;
  box-sizing: border-box;
  overflow: hidden;
}
