.capacita-app .app-toolbar {
  border: 0;
}

.capacita-app .app-toolbar .container {
  width: auto;
  margin: 0;
  padding: 0;
}

.capacita-app .app-toolbar .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  line-height: 60px;
  padding: 0 30px;
}

.capacita-app .app-toolbar ul.nav-pills {
  margin-top: 12px;
}
