.draggable-control {
  /* */
}

.draggable-control .btn {
  padding: 3px 6px;
}

.draggable-control .btn .glyphicon {
  margin: 0;
}

.draggable-control .btn.editing {
  background: #354A84 !important;
  color: #fff !important;
}
