/* Override Booststrap defaults */

/* green #48a94e */
/* dark green #397d3b */
/* blue #354a84 */
/* gray #9b9b9b */
/* off white #f9fafc */

.glyphicon {
  margin-right: 8px;
}

.glyphicon.right {
  margin-left: 0;
  margin-left: 8px;
}

.capacita-app > .page {
  padding: 60px 0 0 0;
}
